# Logs
logs
*.log
website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*
website/pnpm-debug.log*
website/lerna-debug.log*

website/node_modules
website/dist
website/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
