#root {
    margin: 0 auto;
    text-align: center;
}

.startPageCard:hover {
    background-color: #efefef;
}

.bigThumb.form-range::-moz-range-thumb {
    width: 2rem;
    height: 2rem;
}

.canvas-wrapper {
    width: calc(100% - 30px);
}

.offcanvas {
    background-color: #0dcaf0;
}

.track-card {
    font-size: 12px;
    button {
        font-size: 12px;
    }
}

.leaflet-tooltip {
    width: 250px;
    white-space: break-spaces;
}

.nav-menu {
    background-color: #0dcaf0;
}

.accordion-button {
    margin: 0;
    padding: 8px;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
